<div class="content">
<form class="container" [formGroup]="formGroup">
  <mat-form-field class="container-full-width" appearance="fill">
    <mat-label>Character</mat-label>
    <input formControlName="character" matInput type="text" [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</div>


<router-outlet></router-outlet>